<span id="urls"
  data-root_url="<%= root_url %>"
  data-group_hour_url="<%= group_hour_url %>"
  data-info_for_group_hour_url="<%= info_for_group_hour_url %>"
  data-my_group_hours_url="<%= my_group_hours_url %>"
  data-get_token_appointment_url="<%= get_token_appointment_url %>"
  data-my_appointments_url="<%= appointments_url %>"
  data-appointments_url="<%= appointments_url %>"
  data-accept_appointment_url="<%= accept_appointment_url %>"
  data-camera_url="<%= camera_url %>"

></span>