<br>
<div class="row">
	<div class="span7">
	   <div class="well">
	
	   	<h1><%= t '.title' %></h1><br>

		  
		
		
			 <%= t(".test_audio") %> <br><br>
			
			<div id="play_jplayer" class="btn"><%= t(".play_jplayer") %></div>
			<div id="jplayer">jplayer</div>
			<br><br><br>
			<%= t(".hear_audio")%>
			<br>
			<a class='btn btn-success' href='<%=audio_path%>?success=true' ><%=t(".success")%></a>&nbsp;&nbsp;
			<a class='btn btn-warning' href='<%=audio_path%>?success=false' ><%=t(".no_success")%></a>

	    </div><!-- well -->

	    </div><!-- span -->

	    </div><!-- row -->


<br><br>





