<%- content_for(:head) do -%>
  <%= javascript_include_tag "http://static.opentok.com/v0.91/js/TB.min.js" -%>
<%- end -%>

<h1><%= t '.title' %></h1>
<br>
<div class="row">
<div class="span5">
	
	<div id="camera_settings" data-session_id="<%=@session_id %>" data-tok_token="<%=@tok_token%>" data-api_key="<%=@api_key%>" 
		style="background-color:grey;height:300px; width:300px">
		

				<span id="publisher_box_tmp" class="label label-warning">
					 Bitte warten...
				</span>
	</div> <!-- camera-->
	
	</div>

<div class="span7">
   <div class="well">
	 <%= t(".allow_always_access_html", :url=>audio_path) %> 
   	
   </div><!-- well-->

<%= t(".see_video")%>
<br>
<a class='btn btn-success' href='<%=camera_path%>?success=true' ><%=t(".success")%></a>&nbsp;&nbsp;
<a class='btn btn-warning' href='<%=camera_path%>?success=false' ><%=t(".no_success")%></a>


<br><br>
<!--				
If you experience any troubles, please visit the website of the 
<a href='http://helpx.adobe.com/flash-player.html' target='_blank'>Adobe flash player</a>.-->

</div><!-- span-->
</div><!-- row-->


<br><br>


