<%= content_for :below_nav do %>
<div style="position: relative;">
  <img src="/assets/frontpage_bigpicture.jpg" style="width:100%;position: relative;right: 0;width: 100%;top: 0;display:block;">
</div>
<% end %>	


<%- content_for(:user_voice) do -%>
<span></span>
<%- end -%>

<%- content_for(:nav_bar) do -%>
<span></span>
<%- end -%>

<div class="span10" style="margin-left: 80px;position: relative;">
  <div id="notice"></div>
  <div class="overlaybox" style="top: -230px;height: 330px;"></div>
<div class="overlaycontent" style="top: -230px;height: 250px;width: 700px;">
    <div class="row">
      <div class="span4 emphasize" style="text-align: justify;margin-top: 45px;">
        <center>
          <p style="font-size: 23px;line-height: 30px;">Gemeinsam produktiver.</p>
          <p style="font-size: 23px;line-height: 30px;">Mit Leuten wie dir.</p><br>
          <div id="fb_login_button">
            <a id="facebook_link" href="/users/auth/facebook"></a>
            <div id="login_button">Start work!</div>
          </div>
          <br>
          (Wir posten nichts auf deine Wall)
        </center>
      </div>

      <div style="float: left;height: 250px;margin: 0 38px;width:1px;background:#888;"></div>

      <div class="span4">
        <center>
          <a href="#">
            <img src="/assets/promotion_video.jpg" id="video_modal_button">
          </a>
        </center> 
      </div>
    </div>
  </div>

<%- content_for(:footer) do -%>
  <div style="margin-top:150px;">
<div id="footer">
<center>
  <p>
    <span style="color:#888;">
      Copyright © 2012 StartWork.in. Alle Rechte vorbehalten.
    </span>
    <span class="links">
      <span <%= if_active 'how_it_works' %>><%= link_to "Wie es geht", how_it_works_path %></span> 
      ▪ <span <%= if_active 'effect' %>><%= link_to "Wirkung", effect_path %></span>
      ▪ <span <%= if_active 'blog' %>><%=link_to "Blog", blog_path %></span>
      ▪ <span <%= if_active 'about_us' %>><%=link_to "Über uns", about_us_path %></span>
      ▪ <span><a href="#">Jobs</a></span>
      ▪ <span><a href="#">Presse</a></span>
      ▪ <span><%= link_to "Impressum", impressum_path%></span>
    </span>
  </p>
</center>
</div>
</div>
<%- end -%>

</div><!--span10-->


<!-- MODAL FOR VIDEO -->
<div class="modal frontpage hide fade" id="video_modal">
  <div>
     <button class="close" data-dismiss="modal">×</button>
  </div>
  <div class="modal-body">
  <center>
<iframe src="http://player.vimeo.com/video/44113034?title=0&amp;byline=0&amp;portrait=0&amp;color=005580" width="500" height="400" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
</center>
  </div>
</div>
<!-- ENDO OF MODAL FOR VIDEO -->
