




<% if !user_signed_in? %>

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
		   <img src="/assets/library_long.jpg">
<br><br>
		    <h1><%= t ".welcome" %></h1><br>
	
	
	    <p><%= t ".welcome_text_html" %></p>

	<center>

<iframe src="http://player.vimeo.com/video/44113034?title=0&amp;byline=0&amp;portrait=0&amp;color=005580" width="600" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>		
		
		<br><br>
	
		
		<a id="facebook_link" href="<%=user_omniauth_authorize_path(:facebook)%>">
		   <img src='/assets/facebook_anmelden.png'></a><br>
		(Wir posten nichts auf deine Wall)
		</center>
	
  </div><!-- end of main hero unit -->
                       
<% else %>
  <%- content_for(:head) do -%>
  <%= javascript_include_tag "http://connect.facebook.net/en_US/all.js" -%>
  <%- end -%>
  
  <div class="hero-unit">
  <br>
  <h2> <%=t '.greet_username', :username => current_user.name %></h2><br>
<br>

<% if !@friends.empty?%>

    <p>Deine Freunde, die bereits schon bei StartWork sind:</p>
           
    <div class="row">
       <% @friends.each do |friend| %>
         <div class="span1">
         <img src="http://graph.facebook.com/<%=friend.fb_ui%>/picture"><br>
         <%= friend.first_name%>
       </div>
       <% end %>
    </div> <!-- row --><br><br>
<% end %>


<% if !@next_work_session.nil?%>
  <div class="row">
  <div class="span3 offset3">
<b>	<%= t(".next_session")%>:</b><br>
<%= I18n.localize(@next_work_session.start_time.in_time_zone("Berlin")) %> <br> <%= @user_names %><br>
	</div></div>
<% end %>
	


	
  <div class="row">
  <div class="span3">		
		<%= link_to t(".maintain_work_sessions_html"), calendar_path, :class => "btn", :style=>"width:150px;height:50px"%><br><br>
  </div> <!-- span3 -->




<% if !@next_work_session.nil?%>
  <div class="span3">
	<div id="join_work_session" class="btn" style="width:150px;height:50px" url_check=<%=work_session_can_we_start_url%> info_url=<%= info_for_work_session_url%> video_url=<%= work_session_url%>
		  ><%= t(".next_room_html", :host=>@room_host)%></div>
  </div> <!-- span3 -->

<% end %>

<div class="span3">
	<div id="join_spont_work_session" class="btn" style="width:150px;height:50px"  info_url=<%= info_for_work_session_url%>  video_url=<%= spont_work_session_url %>
		  ><%= t(".spont_work_session_html")%></div>
</div> <!-- span3 -->






  </div>  <!-- row -->
<br><br>

<div class="row">
<div class="span6">
	<div id="fb-root" data-app="<%=@app%>"></div>
	
	<div id="send_dialogue" class="btn" style="width:150px;height:50px">
		
		<img src="/assets/facebook_button.png" width="30px"><br>			
		<b>Freunde einladen</b>

	<!--	<b>Facebook-Freunde einladen/Nachricht senden</b>-->
		<!--<b>Nachricht senden</b>-->
		</div> 
  <%   render :template => 'invitations/new' %>
  </div> <!-- span6 -->
 </div>  <!-- row -->
  	
   </div>

  	
  
<% end %>
