
<% if !user_signed_in? %>

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1><%= t ".welcome" %></h1><br>
    <%= t ".welcome_text_html" %>	


<p><a class="btn btn-primary btn-large" href="<%= show_interested_user_path %>"><%= t ".interested_user_sign_up"%> &raquo;</a></p>

  </div><!-- end of main hero unit -->
                       
<% else %>

  <br>
  <h1> <%=t '.greet_username', :username => current_user.name %></h1><br>
<br>


 
<% if !@next_work_session.nil?%>
  <div class="row">
  <div class="span3 offset3">
<b>	<%= t(".next_session")%>:</b><br>
<%= I18n.localize(@next_work_session.start_time.in_time_zone("Berlin")) %> <br> <%= @user_names %><br>

	</div></div>
<% end %>	
	
  <div class="row">
  <div class="span3">		
		<%= link_to t(".maintain_work_sessions_html"), calendar_path, :class => "btn", :style=>"width:150px;height:50px"%><br><br>
  </div> <!-- span3 -->


<% if !@next_work_session.nil?%>
  <div class="span3">
	<%= link_to t(".next_room_html", :host=>@room_host), show_work_session_path(@next_work_session), :class => "connect btn", :style=>"width:150px;height:50px"%>
  </div> <!-- span3 -->
<% end %>

  </div>  <!-- row -->
<br><br>

<div class="row">
<div class="span6">
  <%=   render :template => 'invitations/new' %>
  </div> <!-- span6 -->
 </div>  <!-- row -->
  	
  

  	
  
<% end %>