

  <%- content_for(:head) do -%>
    <%= javascript_include_tag "http://connect.facebook.net/en_US/all.js" -%>
    <link href='http://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
  <%- end -%>


  <%- content_for(:background_image) do -%>
          background-image:url('/assets/paper_bg.jpg')
  <%- end -%>

<div style="background:url('/assets/coffee.png') no-repeat;width: 751px;height: 836px;position: absolute;left: 0;top: 0;z-index: 0;"></div>
  <center>
  <h2 class="parisienne" id="greet_username" style="margin-left: 50px;"> <%=t '.greet_username', :username => current_user.name %></h2></center><br>
<br>

<div class="row" style="min-height:100%;">

<!-- LINKER BLOCK -->
<div class="hero-unit span4 column_same_height">

  <div style="margin:20px;">
  <h2>Verabreden</h2>

  <center><div class="btn btn-primary btn-large" id="launch_modal_button" style="margin-top:20px;">Jetzt verabreden</div></center>



  <!-- Eigene Sessions -->
  <div style="margin-top:20px;">
  <hr>
  <p>Deine nächsten Arbeitssessions:</p>
  <div id="my_work_sessions">
      <% my_or_friends = "my"%>
      <%= render :partial => "work_sessions/work_sessions", 
          :locals => { :work_sessions => @my_work_sessions, :my_or_friends => my_or_friends } %>	
  </div>
</div>
  <!-- Ende eigene Sessions --> 

<hr>


  <!-- Sessions von Freunden -->
  <div id="friends_work_sessions">
      <% my_or_friends = "friends"%>
      <%= render :partial => "work_sessions/work_sessions", 
          :locals => { :work_sessions => @friends_work_sessions, :my_or_friends => my_or_friends } %>	
  </div>
  <!-- Ende von Sessions von Freunden --> 


  <div style="margin-top:20px;">
    <center><%= link_to "Wochenüberblick", calendar_path, :class => "btn btn-primary btn-large"%></center>
  </div>
</div>

<%= render 'appointments/main_modal' %>


</div>


<!-- MITTLERER BLOCK -->

<div class="hero-unit span4 column_same_height">

  <div style="margin:20px;">
  <h2>Start Work'in</h2>
    <center><div id="join_work_session" href="#" class="btn btn-primary btn-large" style="margin-top:20px;">Jetzt starten!</div></center>
    <% if !@next_work_session.nil?%>
      <hr>
      <div style="margin-top:20px;">
          <b> <%= t(".next_session")%>:</b><br>
          <%= I18n.localize(@next_work_session.start_time.in_time_zone("Berlin")) %> <br> <%= @user_names %><br>
      </div>
    <% end %>
  </div>

<!--
    <hr>
    <div style="margin-top:20px;">
    < if !@Active_Users.nil?%>
      <p>Nutzer, die gerade produktiv sind</p>
      <div class="row">
         < @Active_Users.each do |Active_User| %>
           <div class="span1">
           <img src="http://graph.facebook.com/<=Active_User.fb_ui%>/picture"><br>
           <= Active_User.first_name%>
         </div>
         < end %>
      </div> 
    < else >
      <p>Du hast noch keine angemeldeten Freunde</p>
    < end %>
-->

</div>


<!-- RECHTER BLOCK -->
<div class="hero-unit span4 column_same_height">
  <div style="margin:20px;">
    <h2>Freunde treffen</h2>
    <center><div id="send_dialogue" class="btn btn-primary btn-large" style="margin-top:20px;"><img src="/assets/facebook_button.png" width="20px" style="position: absolute;"><span style="margin-left:25px;">Freunde einladen</span></div></center>
    <%   render :template => 'invitations/new' %>
    <hr>
    <div style="margin-top:20px;">
    <% if !@friends.nil?%>
      <p>Deine Freunde bei StartWork:</p>
      <div class="row">
         <% @friends.each do |friend| %>
           <div class="span1">
           <img src="http://graph.facebook.com/<%=friend.fb_ui%>/picture"><br>
           <%= friend.first_name%>
         </div>
         <% end %>
      </div> <!-- row -->
    <% else %>
      <p>Du hast noch keine angemeldeten Freunde</p>
    <% end %>
    <hr>
    </div>
</div>  
</div>
</div>


<div id="fb-root" data-app="<%=@app%>" style="position: absolute;left: 150px;top: 40px;"></div>

<%= render 'appointments/appointment_modal' %>
