
<% if !user_signed_in? %>

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1><%= t ".welcome" %></h1><br>
    <%= t ".welcome_text_html" %>	


<p><a class="btn btn-primary btn-large" href="<%= show_interested_user_path %>"><%= t ".interested_user_sign_up"%> &raquo;</a></p>


<!--
<p><a class="btn btn-primary btn-large" href="<%= new_user_registration_path %>"><%= t ".sign_up"%> &raquo;</a></p>
-->
<!--
    <p><a class="btn btn-primary btn-large" href="<%= how_it_works_path%>"><%= t ".learn_more"%> &raquo;</a></p>
-->
  </div><!-- end of main hero unit -->
                       
<% else %>
  <%= raw place_size_in_html %>
  <br>
  
  <%=t '.greet_username', :username => current_user.name %><br><br><hr>
  
     <%if current_user.activated? %>
        <%= link_to t(".camera_test"), camera_path, :class => "btn", :method => :get%>	<br><br>
        <hr><br>
        <h2><%= t(".work_groups") %>: </h2><br>

<div class="row">
	      <div class="span4">  
<table class="table">
	<thead>
	<tr>
	<th></th>		
	<th></th>		
	<th></th>
	</tr>
	</thead>
	<tbody>
	<tr>
	<td>Procrastinators in Berlin</td>
	<td><%= link_to t(".start"), show_work_session_path(@group1_id), :class => "connect btn"%></td>
	<td><%= link_to t(".calendar"), work_session_calendar_path(:work_session_id=>@group1_id), :class => "btn"%></td>
	</tr>
	<tr>
	<td>Gods of work</td>
	<td><%= link_to t(".start"), show_work_session_path(@group2_id), :class => "connect btn"%></td>
	<td><%= link_to t(".calendar"), work_session_calendar_path(:work_session_id=>@group2_id), :class => "btn"%></td>
	</tr>	
	</tbody>
	</table>
	</div>
</div>	


       
  
        <hr>
  	
         <%= link_to t(".statistics") , statistics_path, :class => "btn", :method => :get%><br><br>
     <% else %>
         <div class="hero-unit">
           <%= t(".not_activated_html") %>
 
        </div>	
     <% end %>
  	
  
<% end %>