
<% if !user_signed_in? %>

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1><%= t ".welcome" %></h1><br>
    <%= t ".welcome_text_html" %>	


<p><a class="btn btn-primary btn-large" href="<%= show_interested_user_path %>"><%= t ".interested_user_sign_up"%> &raquo;</a></p>


<!--
<p><a class="btn btn-primary btn-large" href="<%= new_user_registration_path %>"><%= t ".sign_up"%> &raquo;</a></p>
-->
<!--
    <p><a class="btn btn-primary btn-large" href="<%= how_it_works_path%>"><%= t ".learn_more"%> &raquo;</a></p>
-->
  </div><!-- end of main hero unit -->
                       
<% else %>
  <%= raw place_size_in_html %>
  <br>
  <h1> <%=t '.greet_username', :username => current_user.name %></h1><br>
<br>
     <%if current_user.activated? %>

 
  <div class="row">
  <div class="span4">
	<h3><%= t(".my_settings") %>:</h3><br>
      <%= link_to t(".camera_test"), camera_path, :class => "btn",  :method => :get, :style=>"width:150px"%>	<br><br>
		<%= link_to t(".calendar"), calendar_path, :class => "btn", :style=>"width:150px"%><br><br>
		<%= link_to t(".maintain_friends"), friendships_path, :class => "btn", :style=>"width:150px"%>  <br><br>
		       <%= link_to t(".statistics") , statistics_path, :class => "btn", :method => :get, :style=>"width:150px"%><br><br>	

  </div> <!-- span4 -->
  <div class="span4">
  	 <h3><%= t(".work_groups") %>: </h3><br>
<%= link_to "Procrastinators in Berlin", show_work_session_path(@group1_id), :class => "connect btn", :style=>"width:150px"%>	<br><br>
<%= link_to "Gods of work", show_work_session_path(@group2_id), :class => "connect btn", :style=>"width:150px"%>	<br><br>



  </div> <!-- span4 -->
  </div>  <!-- row -->

  	
  
     <% else %>
         <div class="hero-unit">
           <%= t(".not_activated_html") %>
 
        </div>	
     <% end %>
  	
  
<% end %>