



<% if !user_signed_in? %>

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1><%= t ".welcome" %></h1><br>
    <%= t ".welcome_text_html" %>	

<!--
<p><a class="btn btn-primary btn-large" href="<%= new_user_registration_path %>"><%= t ".join_now"%> &raquo;</a></p>-->
<br>
<p><a id="facebook_link" href="<%=user_omniauth_authorize_path(:facebook)%>"><img src='/assets/facebook_anmelden.png'></a></p>

  </div><!-- end of main hero unit -->
                       
<% else %>

  <br>
  <h1> <%=t '.greet_username', :username => current_user.name %></h1><br>
<br>



<% if !@next_work_session.nil?%>
  <div class="row">
  <div class="span3 offset3">
<b>	<%= t(".next_session")%>:</b><br>
<%= I18n.localize(@next_work_session.start_time.in_time_zone("Berlin")) %> <br> <%= @user_names %><br>
	</div></div>
<% end %>
	


	
  <div class="row">
  <div class="span3">		
		<%= link_to t(".maintain_work_sessions_html"), calendar_path, :class => "btn", :style=>"width:150px;height:50px"%><br><br>
  </div> <!-- span3 -->




<% if !@next_work_session.nil?%>
  <div class="span3">
	<div id="join_work_session" class="btn" style="width:150px;height:50px" url_check=<%=work_session_can_we_start_url%> url=<%= work_session_url%>
		  > <%= t(".next_room_html", :host=>@room_host)%></div>
  </div> <!-- span3 -->

<% end %>


<div class="span3">	
	<div id="join_guest_work_session" class="btn" style="width:150px;height:50px"  url=<%= "#{work_session_url}/guest" %>
		  > <%= t(".guest_work_session_html")%></div>
</div> <!-- span3 -->



  </div>  <!-- row -->
<br><br>

<div class="row">
<div class="span6">
  <%=   render :template => 'invitations/new' %>
  </div> <!-- span6 -->
 </div>  <!-- row -->
  	
  

  	
  
<% end %>