
  <%- content_for(:head) do -%>
  <%= javascript_include_tag "http://connect.facebook.net/en_US/all.js" -%>
  <%- end -%>
  
  <h2> <%=t '.greet_username', :username => current_user.name %></h2><br>
<br>

<div class="row" style="height:100%;">


<!-- LINKER BLOCK -->
<div class="hero-unit span4" style="background:white;padding:0;height:100%;">
  <div style="margin:20px;">
  <h2>Verabreden</h2>
  <center><%= link_to "jetzt verabreden", calendar_path, :class => "btn btn-primary btn-large"%></center>
  <!-- Eigene Sessions -->
  <div style="margin-top:20px;">
  <hr>
  <p>Deine nächsten Arbeitssessions:</p>

  <!-- Start Dummy Section -->
       <div class="row" style="margin:0;">
          <div class="left rst" style="width:43px;margin-right:5px;">heute</div>
          <div class="left rst" style="margin-right:5px;">15:00 - 18:00</div>
          <div class="left rst" style="margin-right:10px;">
              <img src="http://graph.facebook.com/100004003535498/picture" style="width:20px">
              <img src="http://graph.facebook.com/100004003535498/picture" style="width:20px">
              <img src="http://graph.facebook.com/100004003535498/picture" style="width:20px">
              <img src="http://graph.facebook.com/100004003535498/picture" style="width:20px">
          </div>
          <a href="#" class="btn btn-small btn-edit"><i class="icon-wrench"></i></a> 
        </div>
               <div class="row" style="margin:0;">
          <div class="left rst" style="width:43px;margin-right:5px;">heute</div>
          <div class="left rst" style="margin-right:5px;">15:00 - 18:00</div>
          <div class="left rst" style="margin-right:10px;">
              <img src="http://graph.facebook.com/100004003535498/picture" style="width:20px">
              <img src="http://graph.facebook.com/100004003535498/picture" style="width:20px">
              <img src="http://graph.facebook.com/100004003535498/picture" style="width:20px">
              <img src="http://graph.facebook.com/100004003535498/picture" style="width:20px">
          </div>
          <a href="#" class="btn btn-small btn-edit"><i class="icon-wrench"></i></a> 
        </div>
               <div class="row" style="margin:0;">
          <div class="left rst" style="width:43px;margin-right:5px;">heute</div>
          <div class="left rst" style="margin-right:5px;">15:00 - 18:00</div>
          <div class="left rst" style="margin-right:10px;">
              <img src="http://graph.facebook.com/100004003535498/picture" style="width:20px">
              <img src="http://graph.facebook.com/100004003535498/picture" style="width:20px">
              <img src="http://graph.facebook.com/100004003535498/picture" style="width:20px">
              <img src="http://graph.facebook.com/100004003535498/picture" style="width:20px">
          </div>
          <a href="#" class="btn btn-small btn-edit"><i class="icon-wrench"></i></a> 
        </div>
  <!-- Ende Dummy Section -->


  <% if !@my_calendar_events.nil?%>
     <% @my_calendar_events.each do |calendar_event|%>
<<<<<<< HEAD
       <p class="small">Beginn: <%= calendar_event.start_time %></p> 
       <p class="small">Ende: <%= calendar_event.end_time %></p> 
       Freunde:
          <% calendar_event.friends.each do |friend|%>
            <img src="http://graph.facebook.com/<%=friend.fb_ui%>/picture">
          <% end %>
=======
       <div class="row">
          <div class="left">heute</div>
          <div><%= calendar_event.start_time %> - <%= calendar_event.end_time %></div>
          <div>
            <% calendar_event.friends.each do |friend|%>
              <img src="http://graph.facebook.com/<%=friend.fb_ui%>/picture">
            <% end %>
          </div> 
>>>>>>> style upcoming sessions
     <% end %>

     <% else %>
        <p class="small">Du hast noch keine Verabredungen!</p>
  <% end %> 
  </div>

  <!-- Ende eigene Sessions --> 
<hr>
  <!-- Sessions von Freunden --> 
  <% if !@friends_calendar_events.nil?%>
    <div style="margin-top:20px;">
      
      <p>Die nächsten Arbeitssessions deiner Freunde:</p> 
      <% @friends_calendar_events.each do |calendar_event|%>
      <p class="small">Beginn: <%= calendar_event.start_time %></p>
      <p class="small">Ende: <%= calendar_event.end_time %></p>
      Freunde:
<<<<<<< HEAD
      <% calendar_event.friends.each do |friend|%>
=======
        <% calendar_event.friends.each do |friend|%>
>>>>>>> style upcoming sessions
           <img src="http://graph.facebook.com/<%=friend.fb_ui%>/picture">
        <% end %>
      <% end %>
    </div>
  <% end %>
  <!-- Ende von Sessions von Freunden --> 
</div>
</div>


<!-- MITTLERER BLOCK -->
<div class="hero-unit span4" style="background:#08c;color:white;padding:0;height:100%;">
  <div style="margin:20px;">
  <h2 style="color:white;">Erledigen</h2>
    <center><div id="join_work_session" href="#" class="btn btn-large">Jetzt starten!</div></center>
    <% if !@next_work_session.nil?%>
      <hr>
      <div style="margin-top:20px;">
          <b> <%= t(".next_session")%>:</b><br>
          <%= I18n.localize(@next_work_session.start_time.in_time_zone("Berlin")) %> <br> <%= @user_names %><br>
      </div>
    <% end %>
  </div>

<!--
    <hr>
    <div style="margin-top:20px;">
    < if !@Active_Users.nil?%>
      <p>Nutzer, die gerade produktiv sind</p>
      <div class="row">
         < @Active_Users.each do |Active_User| %>
           <div class="span1">
           <img src="http://graph.facebook.com/<=Active_User.fb_ui%>/picture"><br>
           <= Active_User.first_name%>
         </div>
         < end %>
      </div> 
    < else >
      <p>Du hast noch keine angemeldeten Freunde</p>
    < end %>
-->

</div>


<!-- RECHTER BLOCK -->
<div class="hero-unit span4" style="background:white;padding:0;height:100%;">
  <div style="margin:20px;">
    <h2>Freunde treffen</h2>
    <div id="fb-root" data-app="<%=@app%>"></div>
    <center><div id="send_dialogue" class="btn btn-primary btn-large"><img src="/assets/facebook_button.png" width="20px" style="position: absolute;"><span style="margin-left:25px;">Freunde einladen</span></div></center>
    <%   render :template => 'invitations/new' %>
    <hr>
    <div style="margin-top:20px;">
    <% if !@friends.nil?%>
      <p>Deine Freunde bei StartWork:</p>
      <div class="row">
         <% @friends.each do |friend| %>
           <div class="span1">
           <img src="http://graph.facebook.com/<%=friend.fb_ui%>/picture"><br>
           <%= friend.first_name%>
         </div>
         <% end %>
      </div> <!-- row -->
    <% else %>
      <p>Du hast noch keine angemeldeten Freunde</p>
    <% end %>
    <hr>
    </div>
</div>  
</div>
</div>
