<% if !user_signed_in? %>    
<div style="margin: 40px auto;width: 786px;">
	<img src="/assets/werde_produktiv.png" alt="Werde endlich produktiv - mit StartWork">
</div>

<div style="width: 315px;margin: 0 auto;">
	<a id="facebook_link" href="<%=user_omniauth_authorize_path(:facebook)%>">
		<img src='/assets/frontpage_facebook.png'>
	</a>
	<br/>
	<center>(Wir posten nichts auf deine Wall)</center>
</div>

<div style="width: 301px;position: relative;margin: 0 auto;right: 200px;bottom: 30px;">	
		<img src="/assets/frontpage_call_to_action.png">
</div>

<% end %>





<img src="/assets/separator-top-940.png" alt="line" style="margin-top:-20px;margin-bottom:20px;">
		<div class="flexslider" style="margin-bottom: 50px;">
			  <ul class="slides emphasize">
				<li>
				  <div class="slidepic"><img src="/assets/session_screen.jpg" width="400px"></div><div><%= t(".text_slide_1_html") %></div>
				</li>
				<li>
				  <div class="slidepic"><img src="/assets/session_screen2.jpg" width="400px"></div><div><%= t(".text_slide_2_html") %></div>
				</li>
				<li>
				  <div class="slidepic"><img src="/assets/kalender.jpg" width="400px"></div><div><%= t(".text_slide_3_html") %></div>
				</li>
				<li>
				  <div class="slidepic"><img src="/assets/trust.jpg" width="400px"></div><div><%= t(".text_slide_4_html") %></div>
				</li>
				<li>
				  <div class="slidepic"><iframe src="http://player.vimeo.com/video/44444224?title=0&amp;byline=0&amp;portrait=0&amp;color=005580" width="476" height="316" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div><div><div><%= t(".text_slide_5_html") %></div>
				</li>
			  </ul>
			</div>
<img src="/assets/separator-bottom-940.png" alt="line" style="margin-bottom:20px;">
<div>
<!--		<h1><%= t ".title_current_user" %></h1>-->
		 <div class="whitebox" style="width:640px;">
		<%= t(".text_current_user_html") %>
		</div>
</div>