<div class="row">
<div class="span8">
	<h1>Wissenschaftliche Grundlagen zu Prokrastination</h1><br>
<h2>1. Häufigkeit und Auswirkungen</h2>
Studienergebnisse:
<ul>
<li>	Schätzungen besagen, dass 80-95% aller Studenten regelmäßig prokrastinieren.
	<sup><a id="anker3" href="<%=scientific_principles_path%>#fn3">[3]</a></sup>
	</li>
<li>	75% aller Studenten würden sich selber als Prokrastinierer bezeichnen.
	<sup><a id="anker2" href="<%=scientific_principles_path%>#fn2">[2]</a></sup></li>
<li>50% aller Studenten prokrastinieren systematisch und in problematischem Ausmaß.
	<sup><a id="anker1" href="<%=scientific_principles_path%>#fn1">[1]</a></sup>
	<sup><a id="anker4" href="<%=scientific_principles_path%>#fn4">[4]</a></sup>
	<sup><a id="anker5" href="<%=scientific_principles_path%>#fn5">[5]</a></sup>
	<sup><a id="anker6" href="<%=scientific_principles_path%>#fn6">[6]</a></sup>
	<sup><a id="anker7" href="<%=scientific_principles_path%>#fn7">[7]</a></sup>
	</li>
<li>Studenten verbringen zu Prüfungszeiten im Durchschnitt ca. ein Drittel ihres Tages mit Prokrastination.
		<sup><a id="anker11" href="<%=scientific_principles_path%>#fn11">[11]</a></sup>
	</li>
<li>Mehrere Studien zeigten, dass Prokrastinierer insgesamt signifikant schlechtere Ergebnisse hervorbringen. 
	<sup><a id="anker8" href="<%=scientific_principles_path%>#fn8">[8]</a></sup>
	<sup><a id="anker9" href="<%=scientific_principles_path%>#fn9">[9]</a></sup>
	<sup><a id="anker10" href="<%=scientific_principles_path%>#fn10">[10]</a></sup>
	</li>
<li>Die meisten Menschen charakterisieren Prokrastination als schlecht, schädlich und verrückt.
	<sup><a id="anker12" href="<%=scientific_principles_path%>#fn12">[12]</a></sup>
	</li>
<li>Prokrastination wirkt sich negativ auf das erlebte allgemeine Wohlbefinden des Betroffenen aus. 
<sup><a id="anker13" href="<%=scientific_principles_path%>#fn13">[13]</a></sup>
<sup><a id="anker14" href="<%=scientific_principles_path%>#fn14">[14]</a></sup>
<sup><a id="anker15" href="<%=scientific_principles_path%>#fn15">[15]</a></sup>
</li>
<li>95% der Betroffenen möchten ihre Prokrastination reduzieren.
	<sup><a id="anker16" href="<%=scientific_principles_path%>#fn16">[16]</a></sup>
	</li>
</ul>

<h2>2. Entstehung und Entwicklung über die Lebenszeit</h2>
<p>
Da Prokrastination über lange Zeitläufe und in unterschiedlichen Situationen relativ große Konstanz aufweist, wird Prokrastination in der aktuellen Forschung überwiegend als Persönlichkeitseigenschaft angesehen, die nur in bestimmten Fällen als Krankheitssymptom eingeordnet werden kann. </p>
<p>
	Prokrastination geht mit dem Alter leicht zurück. Es wird angenommen, dass das Individuum mit der Zeit besser lernt, mit Prokrastination umzugehen. Mit dem sogenannten Marshmallow-Test und Langzeit-Folgeuntersuchungen konnte gezeigt werden, dass die unterschiedlich ausgeprägte Fähigkeit bei 4- bis 6-jährigen Kleinkindern auf eine Belohnung zu warten, um anschließend eine noch größere Belohnung zu erhalten, einen hohen prädiktiven Wert für den späteren Lebenserfolg als Erwachsene aufweist.
	<sup><a id="anker17" href="<%=scientific_principles_path%>#fn17">[17]</a></sup>
	 Wesentliche für die Selbstregulation relevante Komponenten sind also bereits im Kleinkindalter angelegt.</p>
	<p>
In einer Zwillingsstudie konnten Hinweise gefunden werden, dass Prokrastination mit genetischen Faktoren assoziiert ist. 
<sup><a id="anker18" href="<%=scientific_principles_path%>#fn18">[18]</a></sup>
Prokrastination ist außerdem mit einem Cluster von weiteren Persönlichkeitseigenschaften wie Impulskontrolle, Beharrlichkeit, Arbeitsdisziplin, Pflichtbewusstsein, Fähigkeit zum Zeitmanagement und der Fähigkeit methodisch zu arbeiten negativ verbunden.
<sup><a id="anker19" href="<%=scientific_principles_path%>#fn19">[19]</a></sup>
</p>

<h2>3. Behandlungsmethoden</h2>
<p>Anlaufstellen für Hilfesuchende, die unter Prokrastination leiden, sind Studienberatungen, Coaches und Psychotherapeuten. Außerdem existiert umfangreiche Ratgeberliteratur zu dem Thema. Die gebotenen Hilfestellungen umfassen die Auseinandersetzung mit den Themenfeldern Arbeitsorganisation, Lebensplanung mit Bewusstwerdung der eigenen Ziele und Prioritätensetzungen, Optimierung der eigenen emotionalen Haltung, praktisch anwendbare Tips zur kognitiven Selbststeuerung in kritischen Situationen und nicht zuletzt Psychotherapie bei massiven Störungsbildern mglw. im Rahmen einer diagnostizierbaren psychischen Erkrankung. Repräsentative Studien, in welchem Maße die aufgeführten Methoden zur Reduktion von Prokrastination führen, existieren nicht.</p>
 


<b>Quellenangaben:</b>
<ul>
	
<li id="fn1"><a href="#anker1">[1]</a> Day, V., Mensink, D., & O’Sullivan, M. (2000). Patterns of academic procrastination. Journal of College Reading and Learning, 30, pp. 120–134.  </li>

<li id="fn2"><a href="#anker2">[2]</a> Potts, T. J. (1987). Predicting procrastination on academic tasks with self-report personality measures. (Doctoral dissertation, Hofstra University, 1987). Dissertation Abstracts International, 48, 1543. </li>

<li id="fn3"><a href="#anker3">[3]</a> Ellis, A., & Knaus, W. J. (1977). Overcoming procrastination. New York: Signet Books. </li>

<li id="fn4"><a href="#anker4">[4]</a> Haycock, L. A. (1993). The cognitive mediation of procrastination: An investigation of the relationship between procrastination and selfefficacy beliefs (Doctoral dissertation, University of Minnesota, 1993). Dissertation Abstracts International, 54, 2261. </li>

<li id="fn5"><a href="#anker5">[5]</a> Micek, L. (1982). Some problems of self-autoregulation of volitional processes in university students from the point of view of their mental health]. Sbornik Praci Filosoficke Fakulty Brnenske University, 31, pp. 51–70. </li>

<li id="fn6"><a href="#anker6">[6]</a> Onwuegbuzie, A. J. (2000). Academic procrastinators and perfectionistic tendencies among graduate students. Journal of Social Behavior and Personality, 15, pp. 103–109. </li>

<li id="fn7"><a href="#anker7">[7]</a> Solomon, L. J., & Rothblum, E. D. (1984). Academic procrastination: Frequency and cognitive-behavioral correlates. Journal of Counseling Psychology, 31, pp. 503–509. </li>

<li id="fn8"><a href="#anker8">[8]</a> Beswick, G., Rothblum, E. D., & Mann, L. (1988). Psychological antecedents of student procrastination. Australian Psychologist, 23, pp. 207–217. </li>

<li id="fn9"><a href="#anker9">[9]</a> Steel, P., Brothen, T., & Wambach, C. (2001). Procrastination and personality, performance, and mood. Personality and individual Differences,30, pp. 95–106. </li>

<li id="fn10"><a href="#anker10">[10]</a> Wesley, J. C. (1994). Effects of ability, high school achievement, and procrastinatory behavior on college performance. Educational and Psychological Measurement, 54, pp. 404–408. </li>

<li id="fn11"><a href="#anker11">[11]</a> Blunt, A. K., & Pychyl, T. A. (2000). Task aversiveness and procrastination: A multi-dimensional approach to task aversiveness across stages of personal projects. Personality and Individual Differences, 28, pp. 153–167. </li>

<li id="fn12"><a href="#anker12">[12]</a> Briody, R. (1980). An exploratory study of procrastination (Doctoral dissertation, Brandeis University, 1980). Dissertation Abstracts International, 41, 590. </li>

<li id="fn13"><a href="#anker13">[13]</a> Knaus, W. J. (1973). Overcoming procrastination. Rational Living, 8(2), pp. 2–7. </li>

<li id="fn14"><a href="#anker14">[14]</a> Lay, C. H., & Schouwenburg, H. C. (1993). Trait procrastination, time management, and academic behavior. Journal of Social Behavior andPersonality, 8, pp. 647–662. </li>

<li id="fn15"><a href="#anker15">[15]</a> Tice, D. M., & Baumeister, R. F. (1997). Longitudinal study of procrastination, performance, stress, and health: The costs and benefits of dawdling. Psychological Science, 8, pp. 454–458. </li>

<li id="fn16"><a href="#anker16">[16]</a> O’Brien, W. K. (2002). Applying the transtheoretical model to academic procrastination. Unpublished doctoral dissertation, University of Houston. </li>

<li id="fn17"><a href="#anker17">[17]</a> Casey, B.J. , Somerville, L.H., Gotlib, I.H., Ozlem Ayduk, O., Franklin, N.T., Askren, M.K., Jonides, J., Berman, M.G., Wilson, N.L., Teslovich, T., Glovber, G., Zayas, V., Mischel, W., Shoda, Y.( 2011). Behavioral and neural correlates of delay of gratification 40 years later. Proceedings of the National Academy of Sciences of the United States of America, 108, pp. 14998–15003. </li>

<li id="fn18"><a href="#anker18">[18]</a> Arvey, R. D., Rotundo, M., Johnson, W., & McGue, M. (2003, April). The determinants of leadership: The role of genetics and personality. Paper presented at the 18th Annual Conference of the Society for Industrial and Organizational Psychology, Orlando, FL. </li>

<li id="fn19"><a href="#anker19">[19]</a> Schouwenburg, H. C. (2004). Academic procrastination: Theoretical notions, measurement, and research. In H. C. Schouwenburg, C. H. Lay, T. A. Pychyl, & J. R. Ferrari (Eds.), Counseling the procrastinator in academic settings, Washington, pp. 3–17, DC: American Psychological Association. </li>
</ol>
 


<%=link_to raw("Zurück"), effect_path,:class => "btn btn-primary"%>

</div></div>