<%- content_for(:head) do -%>
  <%= javascript_include_tag "http://connect.facebook.net/en_US/all.js" -%>
<%- end -%>

<%- content_for(:nav_bar) do -%>
  <span></span>
<%- end -%>

<%- content_for(:user_voice) do -%>
  <span></span>
<%- end -%>

<%- content_for(:footer) do -%>
  <span></span>
<%- end -%>

<%- content_for(:background_image) do -%>
  background:url('/assets/paper_bg_plain.jpg');
<%- end -%>

<%= content_for :below_nav do %>
  <img src="/assets/frontpage_biggestpicture2.jpg" style="width:100%;position:relative;display:block;">
<% end %>

<%= render :partial => "static_pages/urls"%> 


<div style="margin:0 auto; width:696px;position:relative;">
	
   <div class="whitebox" id="welcome_box" style="position:absolute;top: -168px;height:270px;width: 100%;padding: 0;opacity:0.8;"></div>

   <div class="emphasize" id="welcome_content" style="position:absolute;top: -168px;height:270px;padding: 40px;">
   
   <div class="item" style="margin-top:-40px;">



  <h2 style="font-weight:300">Verabrede dich jetzt zum Arbeiten auf StartWork</h2>
  <%= render :partial => "appointments/appointment_picker" %>


<div align="right">
     <a href="#" id="main_modal_save" class="btn btn-primary" >
	Weiter</a>
</div>


    </div> <!-- end item -->    
    </div> <!-- end welcome_content -->
  </div> <!-- end welcome_box -->
</div> <!-- first div -->


<div id="fb-root" data-app="<%=@app%>" style="position: absolute;left: 150px;top: 40px;"></div>