<div class="row">
<div class="emphasize span8" style="margin:30px auto 0 auto;float:none;">

  <h2 class="parisienne" style="margin-bottom:15px;">Hallo <%= @name %>!</h2>
  <p>schön, dass du bei uns mitmachst!</p>
  <br/>

  <div class="whitebox">
    <h2>Was als nächstes passiert</h2>
    <p>Du hast gleich die Möglichkeit, StartWork direkt auszuprobieren und einer Arbeitssession beizutreten.</p>

    <% if !@friends.empty?%>
      <p>Wusstest du schon? Es sind noch mehr deiner Freunde registriert:</p>
      <div>
        <% @friends.each do |friend| %>
          <div>
            <img src="http://graph.facebook.com/<%=friend.fb_ui%>/picture"><br>
            <%= friend.first_name%>
          </div>
        <% end %>
      </div>
      <br><p>Warum verabredest du dich nicht mit ihnen zum Arbeiten? Das kannst du gleich in deinem Dashboard machen!</p>
      <a href='<%= root_url %>' class="btn btn-primary">Weiter</a>

    <% else %>
    <div class="row" style="margin-top:20px;">
      <div class="span3">
        <img src="/assets/friends_button.png" width="200" height="200">
      </div>
      <div class="span4" style="width:299px;">
        <p>StartWork funktioniert am besten zusammen mit Freunden. Du hast gleich in deinem Dashboard die Gelegenheit, sie zum gemeinsamen Arbeiten einzuladen!</p>
        <a href='<%= root_url %>' class="btn btn-primary">Weiter</a>
      </div>
    </div>
    

    <% end %>
  </div>

 <div class="line-top"></div>
 <div class="row">
   <div class="span4">
      <h2>Wie funktioniert das jetzt?</h2><br>
      <ol style=" font-weight: 200; line-height: 27px;
">
        <li>Du wirst mit deinen Freunden per Webcam verbunden.</li>
        <li>Ein Timer zählt abwechselnd 50min Arbeitszeit und 10min Pause.</li>
        <li>In der Arbeitszeit arbeitet jeder für sich und bleibt am Arbeitsplatz.</p>
        <li>In der Pause wird das Mirko aktiviert und man kann den Kaffeevorrat auffüllen :-)</li>
      </ol>
    </div>

    <div class="vr" style="height:"></div>

    <div class="span4">
      <center>
        <a href="#">
          <img src="/assets/promotion_video.jpg" id="video_modal_button">
        </a>
      </center>
    </div> <!-- end column span -->
  </div>

</div>
</div>

<!-- MODAL FOR VIDEO -->
<div class="modal frontpage hide fade" id="video_modal" style="width: 600px;">
  <div>
     <button class="close" data-dismiss="modal">×</button>
  </div>
  <div class="modal-body">
  <center>
<iframe src="http://player.vimeo.com/video/44444224?title=0&amp;byline=0&amp;portrait=0&amp;color=005580" width="600" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</center>
  </div>
</div>
<!-- END OF MODAL FOR VIDEO -->