<%- content_for(:head) do -%>
  <%= javascript_include_tag "http://connect.facebook.net/en_US/all.js" -%>
<%- end -%>

<%- content_for(:nav_bar) do -%>
  <span></span>
<%- end -%>

<%- content_for(:user_voice) do -%>
  <span></span>
<%- end -%>

<%- content_for(:footer) do -%>
  <span></span>
<%- end -%>

<%- content_for(:background_image) do -%>
  background:url('/assets/paper_bg_plain.jpg');
<%- end -%>

<%= content_for :below_nav do %>
  <img src="/assets/frontpage_biggestpicture2.jpg" style="width:100%;position:relative;display:block;">
<% end %>

<%= render :partial => "static_pages/urls"%> 




<div style="margin:0 auto; width:696px;position:relative;">
	
  <div class="whitebox" id="welcome_box" style="position:absolute;top: -168px;height:270px;width: 100%;padding: 0;opacity:0.8;"></div>

    <div class="emphasize" id="welcome_content" style="position:absolute;top: -168px;height:270px;padding: 40px;">
   
      <!-- CAROUSEL -->
      <div id="appointment_carousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner" style="margin-top:40px;overflow:visible;width:614px;">
          <div class="active item" style="vertical-align:middle;width:">
            <!-- Carousel nav -->
            <a class="btn btn-danger btn-large" style="position:absolute;top:-60px;right:-20px;" href="#appointment_carousel" data-slide="next">Weiter</a>
            <center><p style="font-size:26px;line-height:47px;">Geht es dir auch so, dass du das Anfangen mit einer Arbeit ewig lange aufschiebst?</p></center>
          </div>
          <div class="item" style="vertical-align:middle;">   <!-- Carousel nav -->
            <a class="btn btn-danger btn-large" style="position:absolute;top:-60px;right:-20px;" href="#appointment_carousel" data-slide="next">Weiter</a>
            <center><p style="font-size:26px;line-height:47px;">Auf StartWork verabredest du mit Freunden gemeinsame Arbeitszeiten über Webcam. </p></center>
          </div>
          <div class="item" style="vertical-align:middle;">
            <!-- Carousel nav -->
            <a class="btn btn-danger btn-large fill_initial_dates" id="display_picker_adjust_height" style="position:absolute;top:-60px;right:-20px;" href="#appointment_carousel" data-slide="next">Weiter</a>
            <center><p style="font-size:26px;line-height:47px;">Es geht dabei um das pünktliche Anfangen mit der Arbeit, nicht um die inhaltliche Zusammenarbeit.</p></center>
          </div>


          <div class="item" style="margin-top:-25px;">

            <div id="appointment_on_welcomepage" style="display:none">
              <h2 style="font-weight:300;margin-bottom:15px;">Verabrede dich jetzt zum Arbeiten auf StartWork</h2>
              <%= render :partial => "appointments/appointment_picker" %>


              <div style="position:absolute;top:-35px;right:0;">
	<a href="<%=root_url%>" id="skip_appointment">Verabredung überspringen</a>
                <button id="main_modal_save" class="btn btn-primary btn-large fb-reset remove_height_from_content_and_set_it_to_box" data-fb-reset-x="40" data-fb-reset-y="145" >Weiter</button>
              </div>
            </div> <!-- end appointment_on_welcomepage -->

          </div>
        </div>

      </div> <!-- end item -->   
      <div id="fb-root" data-app="<%=fb_app%>" style="position: absolute;left: 150px;top: 40px;"></div>
    </div> <!-- end welcome_content -->
  </div> <!-- end welcome_box -->
</div> <!-- first div -->
</div> <!-- appointment_on_welcomepage -->