<%- content_for(:head) do -%>
  <%= javascript_include_tag "http://connect.facebook.net/en_US/all.js" -%>
  <link href='http://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
<%- end -%>

<%- content_for(:background_image) do -%>
         background-image:url('/assets/paper_bg.jpg')
<%- end -%>

<%- content_for(:first_in_container) do -%>
<div style="background:url('/assets/coffee.png') no-repeat;width: 751px;height: 836px;position: absolute;left: 0;top: 0;z-index: 0;"></div>
<%- end -%>

<center>
  <h2 class="parisienne" id="greet_username" style="margin-left: 50px;">
    Willkommen <%=@current_user.name %>
  </h2>
</center>

<div class="row" style="position:relative;margin-top:30px;">
<div class="span8 emphasize column_same_height">

<div class="whitebox" style="width: 539px; position: absolute; bottom: 0; top: 0;">

  <p>Wir haben eine Verabredung in deinen StartWork Kalender eingetragen:</p>
  <div class="well">
    <h2 style="margin-bottom:20px;">Deine Verabredung mit <%=@appointment.sender.name %></h2>
    <div style="margin-bottom:20px;">
      <div class="left" style="margin:0;"><img src="http://graph.facebook.com/<%=@appointment.sender.fb_ui%>/picture"></div>
      <div style="margin: 0 0 0 70px;">
          Datum: <%= I18n.localize(@appointment.start_time.to_date, :format => "%d.%m.%Y") %><br/>
          Uhrzeit: <%= I18n.localize(@appointment.start_time.to_time.in_time_zone("Berlin"),:format => "%H:%M") %> Uhr bis <%= I18n.localize(@appointment.end_time.to_time.in_time_zone("Berlin"),:format => "%H:%M") %> Uhr
          <a href="#" class="btn btn-small btn-edit" style="position: relative;top: 6px;"></a>
       </div>
       <span class="clr_fix"></span>
    </div>
    <div class="alert alert-info">
      <b>Achtung!</b><br/>
      Termine auf StartWork sind verbindlich! Falls etwas dazwischenkommen sollte, sag bitte frühzeitig ab, dein Gegenüber rechnet fest mit dir!
    </div>
  </div>
  <p>Du kannst dich schon jetzt auf die produktive Zeit freuen!<br><%=@appointment.sender.first_name %> weiß schon Bescheid, dass du dabei bist und wird auf dich warten.</p>
  </div> <!-- end column left -->

</div>

<div class="span4 column_same_height" style="text-align:justify;">

<div class="whitebox">
  <p><h4>Weiter zum Dashboard</h4></p>
  <p>Im Dashboard kannst du deine Verabredungen verwalten, offenen Worksessions beitreten, und vieles mehr:</p>
  <center>
    <%= link_to "Zum Dashboard", root_path, :class => "btn btn-danger btn-large"%>
  </center>
</div>

<div class="whitebox" style="margin-top:20px;">

    <% if !@friends.empty?%>
      <p><h4>Wusstest du schon?</h4></p>
      <p>Es sind noch mehr deiner Freunde registriert:</p>
      <div class="well" style="padding:20px;margin:0 auto;">
        <div class="row">
          <% @friends.each do |friend| %>
            <div class="span1">
              <img src="http://graph.facebook.com/<%=friend.fb_ui%>/picture"><br>
              <%= friend.first_name %>
            </div>
          <% end %>
        </div>
      </div>
      <br><p>Warum verabredest du dich nicht mit ihnen zum Arbeiten?<br>Das kannst du gleich in deinem Dashboard machen:</p>
      <%= link_to "Zum Dashboard", root_path, :class => "btn btn-danger btn-large"%>
    <% else %>

    <h4>Freunde einladen</h4><br>
    <p>StartWork funktioniert am besten mit Freunden! Lade sie jetzt ein:</p>
    <center><div id="send_dialogue" class="btn btn-primary btn-large" style="margin-top:20px;"><img src="/assets/facebook_button.png" width="20px" style="position: absolute;"><span style="margin-left:25px;">Freunde einladen</span></div></center>
    <%   render :template => 'invitations/new' %>

    <% end %>

</div>

</div>


</div>

<div id="fb-root" data-app="<%=@app%>" style="position: absolute;left: 150px;top: 40px;"></div>