
			<tr>
				<td colspan="12">
					Hallo <%= @user.first_name%>,<br>
					<br>
					Du bist 
					
					<!-- Appointment time -->
				   <% if @appointment.start_time.to_date == DateTime.current.to_date %>
				     heute
				   <% elsif @appointment.start_time.to_date == (DateTime.current+1.day).to_date %>
				    morgen
				   <% else %>
				        am <%= l @appointment.start_time.to_date, :format =>  '%A' %></div>
				   <% end %>
				    von 
				     <%=I18n.localize(@appointment.start_time.to_time.in_time_zone("Berlin"),:format => "%H:%M")%>
				      bis
				     <%=I18n.localize(@appointment.end_time.to_time.in_time_zone("Berlin"),:format => "%H:%M") %>
				   	<!-- Appointment time -->
					
 verabredet mit:<br>
				</td>
			</tr>
			<tr>
				<td colspan="12">
					<table>
						<% (@users).in_groups_of(2,false).each do |row| %>
						<tr>
							<% row.each do |user| %>
							<td>
								<img src='http://graph.facebook.com/<%=user.fb_ui%>/picture'>
							</td>
							<td width="200px">
								<%= user.name %>
							</td><% end %>
						</tr><%end %>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="12">
					Sie alle warten auf dich. Lasse sie nicht hängen und logge dich morgen pünktlich um 9 Uhr ein.
				</td>
			</tr>
			<tr>
				<td colspan="4">
					&nbsp;
				</td>
				<td colspan="4" style="background-color:#0088cc;">
					<center>
						<a href="<%=root_url%>users/auth/facebook" 
							style="text-decoration: none; color:white; font-weight:bold; font-size:100%">Start work!</a>
					</center>
				</td>
				<td colspan="4">
					&nbsp;
				</td>
			</tr>
			<tr>
				<td colspan="12">
					Viel Erfolg wünscht dein<br>
					<br>
					StartWork-Team
				</td>
			</tr>
