<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	<% #TODO: translation%>
    <h1>Hallo <%= @recipient.first_name%>,</h1>
    
	<%= @sender.name%> fragt dich, ob du mit ihm auf <%= link_to "StartWork.in", root_url %> arbeiten möchtest.<br><br>
	
	Bisher fehlen ihm noch WorkBuddies zu folgenden Zeiten:<br>
	

		<% @work_sessions.each_index do |index| %>
	       <% if index == 0 or @work_sessions[index].start_time.day != @work_sessions[index-1].start_time.day %>
	          <% # FIXME: fix the date internationalization %>
	          <br><b><%=I18n.localize(@work_sessions[index].start_time.to_date,:format => "%A, %d. %b %Y") %></b>:<br>
	       <% end %>
	       <%=I18n.localize(@work_sessions[index].start_time.in_time_zone("Berlin"), :format =>"%H:%M" )%><br>
	    <% end %><br><br>

Um mit <%= @recipient.first_name%> zusammenzuarbeiten, <br>
trage einfach auf <%= link_to "StartWork.in", root_url %> deine Lernzeiten zu den genannten Zeiten ein.<br><br>

Wir wünschen dir gutes Arbeiten,<br>
Dein StartWork.in Team
  </body>
</html>

