	
<div class="video_window" id="video_window" data-session_id="<%=@group.session_id %>" data-tok_token="<%=@tok_token%>" data-api_key="<%=@api_key%>" data-user_id="<%=current_user.id%>">
	<div class="user_box" id="user_box_<%=current_user.id%>" data-user_id="<%=current_user.id%>">
		<div class="text_box">
			<b><%= current_user.name %></b><br>
		
		</div><!-- text_box -->
		<div class="stream_box" >
			<span id="publisher_box_tmp" class="label label-warning">
				 please wait...
			</span>
			</div><!-- stream_box -->
		</div><!-- stream_box -->		
	</div> <!-- user_box -->
</div> <!-- video_window-->

