<div class="row">
  <div class="span4"><%= t(".description")%></div>
  <div class="span8"><div class="well" id="work_buddies_box">
</div></div></div>



<span id="data"
  data-base_url="<%= calendar_url %>"
  data-my_user_id="<%=current_user.id%>"
  data-my_user_name="<%=current_user.name%>"
  data-users="<%=@users %>"
></span>

<div id='calendar'></div>
<br>





<div class="row">
<div class="span8 offset2">
		<h2><%= t(".work_sessions")%></h2><br>
<table class="table table-striped table-bordered table-condensed">
	<thead>
	<tr>
	<th><%= t(".start_time")%></th>
	<th><%= t(".room_name")%></th>
	<th><%= t(".work_buddies")%></th>
	</tr>
	</thead>	


<% @work_sessions.each do |work_session| %>
<tr><td>
	<%= I18n.localize(work_session.start_time.in_time_zone("Berlin")) %> 
	</td>
	<td>
<%= work_session.room.user.name %>'s room
	</td>
	
	<td>	
	<% work_session.users.each do |user| %>
	<%=	user.name %><br>
	<%	end %>
	
		</td>
		</tr>
<% end%>	
</table>

</div><!-- span4 -->
</div><!-- row -->


<%= link_to t(".back"), root_path, :class => "btn-large btn-primary"%>


<div class="modal hide fade" id="send_invitation_modal">
  <div class="modal-header">
     <button class="close" data-dismiss="modal">×</button>
     <h3>Einladung an Work-Buddies senden</h3>
  </div>
  <div class="modal-body">
     <p>Möchtest du jetzt eine Einladung an deine ausgewählten Work-Buddies senden?</p>
  </div>
  <div class="modal-footer">
       <a href="#" url="<%=calendar_send_invitation_url%>" id="send_invitation_confirmation" class="btn" data-dismiss="modal">Senden</a>
       <a href="#" class="btn" data-dismiss="modal">Abbrechen</a>
  </div>
</div>

<div class="modal hide fade" id="no_users_selected_modal">
  <div class="modal-header">
     <button class="close" data-dismiss="modal">×</button>
     <h3>Einladung an Work-Buddies senden</h3>
  </div>
  <div class="modal-body">
     <p>	Selektiere erst deine WorkBuddies, denen du eine Einladung senden möchtest.</p>
          <p>     Oder drücke 'Alle Freunde', wenn du allen eine Einladung schicken möchtest.</p>
  </div>
  <div class="modal-footer">
       <a href="#" class="btn" data-dismiss="modal">Ok</a>
  </div>
</div>




