
<%- content_for(:head) do -%>
<%= javascript_include_tag "http://connect.facebook.net/en_US/all.js" -%>
<%- end -%>


<div class="row">
  <div class="span3">
    <div id="back" class="btn btn-info" style="height:35px;width:150px" onclick="location.href='<%=root_url%>'">
       <%= t(".back")%>
    </div>

	
   </div>


</div><!-- end row -->
<br>
<div class="row">
  <div class="span4"><%= t(".description")%></div>
</div>


<span id="data"
  data-base_url="<%= calendar_url %>"
  data-my_user_id="<%=current_user.id%>"
  data-my_user_name="<%=current_user.name%>"
  data-users="<%=@users %>"
></span>




<div id='calendar'></div>



<% link_to t(".back"), root_path, :class => "btn-large btn-primary"%>
<div id="back" class="btn btn-info" style="height:35px;width:150px" onclick="location.href='<%=root_url%>'">
   <%= t(".back")%>
</div>



<div id="fb-root" data-app="<%=@app%>"></div>



<%= render 'appointments/appointment_modal' %>