<div class="row">
  <div class="span2">
		<%= link_to t(".maintain_friends"), friendships_path, :class => "btn"%>  <br><br>
	
  </div> <!-- end span2 -->

<div class="span10">	
  <div id="single_calendar_button" class="btn btn-primary" style="width:100px">	<%= t(".my_calendar") %></div>	
  <div id="all_friends_button" class="btn"  style="width:100px"><%= t(".all_friends") %></div>	<br>
<div style="height:5px">&nbsp;</div>
<% @friends.each do |friend| %>
  <div id="friend<%= friend.id %>_button" name="friend_button" data-user_id="<%= friend.id %>" class="btn"  style="width:100px"><%=friend.name %></div>
<% end %>	


	
  </div> <!-- end span10 -->
</div> <!-- end row --><br>
<%= t(".description")%>
<br>





<span id="data"
  data-base_url="<%= calendar_url %>"
  data-my_user_id="<%=current_user.id%>"
  data-my_user_name="<%=current_user.name%>"
  data-users="<%=@users %>"
  data-user_activated="<%=current_user.activated?%>"
></span>

<div id='calendar'></div>
<br>





<div class="row">
<div class="span8 offset2">
		<h2><%= t(".work_sessions")%></h2><br>
<table class="table table-striped table-bordered table-condensed">
	<thead>
	<tr>
	<th><%= t(".start_time")%></th>
	<th><%= t(".room_name")%></th>
	<th><%= t(".work_buddies")%></th>
	</tr>
	</thead>	


<% @work_sessions.each do |work_session| %>
<tr><td>
	<%= I18n.localize(work_session.start_time.in_time_zone("Berlin")) %> 
	</td>
	<td>
<%= work_session.room.user.name %>'s room
	</td>
	
	<td>	
	<% work_session.users.each do |user| %>
	<%=	user.name %><br>
	<%	end %>
	
		</td>
		</tr>
<% end%>	
</table>

</div><!-- span4 -->
</div><!-- row -->


<%= link_to t(".back"), root_path, :class => "btn-large btn-primary"%>
