


<div class="row">
  <div class="span3">
    <div id="back" class="btn btn-info" style="height:35px;width:150px" onclick="location.href='<%=root_url%>'">
       <%= t(".back")%>
    </div>

	
   </div>


</div><!-- end row -->
<br>



<span id="data"
  data-base_url="<%= weekly_overview_user_hours_url %>"
  data-my_user_id="<%=current_user.id%>"
  data-my_user_name="<%=current_user.name%>"
></span>




<div id='calendar'></div>



<% link_to t(".back"), root_path, :class => "btn-large btn-primary"%>
<div id="back" class="btn btn-info" style="height:35px;width:150px" onclick="location.href='<%=root_url%>'">
   <%= t(".back")%>
</div>



