   <div class="row" style="margin:0;">
      <% if work_session.start_time.to_date == DateTime.current.to_date %>
        <div class="left rst" style="width:43px;margin-right:5px;">heute</div>
      <% elsif work_session.start_time.to_date == (DateTime.current+1.day).to_date %>
        <div class="left rst" style="width:43px;margin-right:5px;">morgen</div>
      <% else %>
        <div class="left rst" style="width:43px;margin-right:5px;">
           <%= l work_session.start_time.to_date, :format =>  '%a' %></div>
      <% end %>
      <div class="left rst" style="margin-right:5px;">
        <%=I18n.localize(work_session.start_time.to_time.in_time_zone("Berlin"),:format => "%H:%M")%>
         &nbsp;-&nbsp;
        <%=I18n.localize(work_session.end_time.to_time.in_time_zone("Berlin"),:format => "%H:%M") %>
      </div>
      <div class="left rst" style="margin-right:10px;width:92px;height:25px;">
        <% work_session.friends.each do |friend|%>
          <img src="http://graph.facebook.com/<%=friend.fb_ui%>/picture"style="width:20px;">
        <% end %>
      </div>

   <% if my_or_friends=="my"%>
      <a href="#" class="btn btn-small btn-edit"><i class="icon-wrench"></i></a> 
   <% else %>
      <a href="#" class="btn btn-small btn-join add_work_session"
           data-start_time='<%=work_session.start_time %>'
           data-end_time='<%=work_session.end_time %>'>
         <i class="icon-wrench"></i></a>
   <% end %>
    </div> <!--row-->