<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appointment_id %><br />
    <%= f.number_field :appointment_id %>
  </div>
  <div class="field">
    <%= f.label :request_str %><br />
    <%= f.text_field :request_str %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
