<p id="notice"><%= notice %></p>

<p>
  <b>Appointment:</b>
  <%= @request.appointment_id %>
</p>

<p>
  <b>Request str:</b>
  <%= @request.request_str %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
