<h1><%=t(".title")%>:</h1>
<br>

<div class="row">
<div class="span6">



<table class="table table-striped">
	<thead>
	<tr>
	<th>id</th>
	<th>Name</th>
	<th>Action</th>	
	</tr>
	</thead>
<% @friendships.each do |friendship| %>
  <tr>
    <td><%= friendship.friend.id %></td>
    <td><%= friendship.friend.name%></td>
	<td><%= link_to t(".remove_as_friend"), friendship, :method => :delete %></td>
  </tr>
<% end %>
  <tr><td colspan=3>&nbsp;</td></tr>
  <tr><td colspan=3 ><h2><%= t(".other_users")%></h2></td></tr>


<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name%></td>
	<td><%= link_to t(".add_as_friend"), friendships_path(:friend_id => user), :method => :post %></td>
  </tr>
<% end %>
</table>

</div></div>
<br><br>
<%= link_to t(".back"), root_path, :class => "btn-large btn-primary"%>