<h1>Friends</h1>
<br>
<table class="table table-striped table-bordered table-condensed">
	<thead>
	<tr>
	<th>id</th>
	<th>Name</th>
	<th>Action</th>	
	</tr>
	</thead>
<% @friendships.each do |friendship| %>
  <tr>
    <td><%= friendship.friend.id %></td>
    <td><%= friendship.friend.name%></td>
	<td><%= link_to "Remove as friend", friendship, :method => :delete %></td>
  </tr>
<% end %>
</table>



<br />

<h2>Other users:</h2>
<table class="table table-striped table-bordered table-condensed">
	<thead>
	<tr>
	<th>id</th>
	<th>Name</th>
	<th>Action</th>	
	</tr>
	</thead>
<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name%></td>
	<td><%= link_to "Add as friend", friendships_path(:friend_id => user), :method => :post %></td>
  </tr>
<% end %>
</table>