<h1><%=t(".title")%>:</h1>
<br>

<div class="row">
<div class="span6">

	
	
<table class="table table-striped">
	<thead>
	<tr>
	<th>Picture</th>		
	<th>Name</th>
<!--	<th>Action</th>	-->
	</tr>
	</thead>
<% @friends.each do |friend| %>
  <tr id=<%= friend.first_name%>>
	<td><img src="http://graph.facebook.com/<%=friend.fb_ui%>/picture "></td>
    <td><%= friend.name%></td>
<!--	<td>< link_to t(".remove_as_friend"), friendship_url, :method => :delete ></td> -->
  </tr>
<% end %>



</table>

</div></div>

<br><br>
<br><br><br>
<%= link_to t(".back"), calendar_path, :class => "btn-large btn-primary"%>