
<div class="well">
<h3> <%= t(".title")%></h3>
   <p><%= t(".description")%></p>

<% @invitation = Invitation.new %>
<%= form_for(@invitation) do |f| %>

    <p><%= t(".friends_email")%></p>
    <%= f.text_field :recipient_mail %>
    <%= f.submit t(".invite"), :class => 'btn btn-primary'  %>

<% end %>

</div>

