<%- content_for(:head) do -%>
  <%= javascript_include_tag "http://static.opentok.com/v0.91/js/TB.min.js" -%>
<%- end -%>

<input id="connectionCountField" type="hidden" value="0" />

<div id="jplayer">jplayer</div>

	
<div class="video_window" id="video_window" 
  data-session_id="<%=@tokbox_session_id %>" 
  data-tok_token="<%=@tokbox_token%>" 
  data-api_key="<%=@tokbox_api_key %>" 
  data-url="<%=group_hour_path %>" 

  data-user_id="<%=current_user.id%>">
  
  <div class="upper_box" id="timer">
     timer
  </div>
 
  <div id="voice_button_box">
    <center>
    <%= t(".to_speak_hold_button")%><br>
	<div id="voice_button" class="btn">Ton aus</div><br><br>
	</center>	
  </div>




  <div id='publisher_box' class="stream_box">
	
	
    <div id="publisher_box_tmp">
	    <img src="/assets/video_dummy.gif" width="100%">
    </div>
  </div>



</div> <!-- video_window-->

<div style="visibility:hidden" id="room_name"><%= @room_name %></div>





