<p id="notice"><%= notice %></p>

  <h2>room <%= @room.name %></h2>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<div id="videobox" data-session_id="<%=@room.session_id %>" data-tok_token="<%=@tok_token%>" data-api_key="<%=@api_key%>">
</div>


