<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @room.name %>
</p>

<p>
  <b>Session:</b>
  <%= @room.session_id %>
</p>

<p>
  <b>The Token:</b>
  <%= @tok_token%>
</p>



<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<div id="videobox" data-session_id="<%=@room.session_id %>" data-tok_token="<%=@tok_token%>" data-api_key="<%=@api_key%>">
	This is my videobox
</div>


