<div class="row" style="margin:0;">
   <% if appointment.start_time.to_date == DateTime.current.to_date %>
     <div class="left rst" style="width:43px;margin-right:5px;">heute</div>
   <% elsif appointment.start_time.to_date == (DateTime.current+1.day).to_date %>
     <div class="left rst" style="width:43px;margin-right:5px;">morgen</div>
   <% else %>
     <div class="left rst" style="width:43px;margin-right:5px;">
        <%= l appointment.start_time.to_date, :format =>  '%a' %></div>
   <% end %>
   <div class="left rst" style="margin-right:5px;">
     <%=I18n.localize(appointment.start_time.to_time.in_time_zone("Berlin"),:format => "%H:%M")%>
      &nbsp;-&nbsp;
     <%=I18n.localize(appointment.end_time.to_time.in_time_zone("Berlin"),:format => "%H:%M") %>
   </div>
   <div class="left rst" style="margin-right:10px;width:92px;height:25px;">


     <% appointment.users.each do |user|%>
       <img src="http://graph.facebook.com/<%=user.fb_ui%>/picture" style="width:20px;" 
class="init_popover"
rel="popover" 
data-original-title="<%=user.name%>"
data-content="<img src='http://graph.facebook.com/<%=user.fb_ui%>/picture'> hat fest zugesagt">
     <% end %>

	     <% (appointment.invited_users-appointment.users).each do |user|%>
	       <img src="http://graph.facebook.com/<%=user.fb_ui%>/picture" style="width:20px;opacity:0.3;" 
	class="init_popover"
	rel="popover" 
	data-original-title="<%=user.name%>"
	data-content="<img src='http://graph.facebook.com/<%=user.fb_ui%>/picture'> hat noch nicht zugesagt">
	     <% end %>


   </div>

<% if my_or_friends=="my"%>
   <div  class="btn btn-small btn-edit edit_appointment init_popover"
        data-appointment_id='<%=appointment.id %>'
        data-start_time='<%=appointment.start_time.to_time.iso8601 %>'
        data-end_time='<%=appointment.end_time.to_time.iso8601 %>'
		rel="popover" 
		data-original-title="Termin bearbeiten"
		data-content="Hier kannst du den Termin aktualisieren und neue Freunde einladen">
    </div> 
<% elsif my_or_friends=="my_received" %>
   <div class="btn btn-small btn-join accept_appointment init_popover"
        data-sender='<%=appointment.user.name %>'
        data-start_time='<%=appointment.start_time.to_time.iso8601 %>'
        data-end_time='<%=appointment.end_time.to_time.iso8601 %>'
		rel="popover" 
		data-original-title="Einladung akzeptieren"
		data-content="Hier kannst du den Termin akzeptieren und weitere Freunde dazuholen">
    </div> 
<% else my_or_friends=="friends" %>
<div class="btn btn-small btn-join join_appointment init_popover"
     data-appointment_id='<%=appointment.id %>'
     data-start_time='<%=appointment.start_time.to_time.iso8601 %>'
     data-end_time='<%=appointment.end_time.to_time.iso8601 %>'
		rel="popover" 
		data-original-title="Bei Arbeitssitzung teilnehmen"
		data-content="Hier kannst du dich zur Arbeitssitzung deiner Freunde verabreden.">
    </div> 

<% end %>
 </div> <!--row -->