<span id="urls"
  data-appointment_get_token_url="<%= appointment_get_token_url %>"
  data-save_appointment_url="<%= calendar_new_event_url %>"
  data-appointment_url="<%= appointment_url %>"
></span>


<div class="modal hide" id="appointment_modal">
  <div class="modal-header">
     <button class="close" data-dismiss="modal">×</button>
     <h3>Neue Lern- und Arbeits-Session</h3>
  </div> <!-- modal-header -->
  <div class="modal-body">
	      <div id="start_time" style="display:none"></div>
	<br>
	      <div id="end_time" style="display:none"></div>
	
		Beginn:	
		<%= select_hour(13, {:field_name => 'appointment_modal_start'}, {:style => "width:50px"}) %>
		 &nbsp;&nbsp;
		Ende:
		<%= select_hour(14, {:field_name => 'appointment_modal_end'}, {:style => "width:50px"}) %> <br><br>
      <h3 id="appointment_time"></h3>
<br>
Dieser Termin ist verbindlich. Logge dich bitte kurz vorher ein und freu dich schon jetzt auf das produktive Arbeiten mit deinen Freunden und/oder neuen Leuten!
		
</div> <!-- modal-body -->
  <div class="modal-footer">
       <a href="#" id="save_appointment" class="btn" style="display:none" data-dismiss="modal">
	Speichern (und Freunde einladen)</a>
       <a href="#" id="cancel_appointment"  class="btn" data-dismiss="modal">Abbrechen</a>
</div><!-- modal-footer -->
</div><!-- modal -->