<div id="appointment" 
data-start_time="<%= DateTime.new(DateTime.current.year, DateTime.current.month,DateTime.current.day,17)+1.day  %>"
data-end_time="<%= DateTime.new(DateTime.current.year, DateTime.current.month,DateTime.current.day,19)+1.day  %>"
>
	
<h3 id="appointment_sender"></h3>	

<div id="needed_for_debugging" style="display:none">
	Appointment_id: <div id="appointment_id"></div>
	</div>


<div id="appointment_dates">
     <% (0..6).each do |day| %>
         <div 
            <% if day==1 %>
            class="appointment_day btn btn-primary" 
            <% else %>
            class="appointment_day btn " 
            <% end %>
           
            data-day="<%=(DateTime.current+ day.day).to_date%>"
            id="appointment_day<%=day%>">
      
            <% if day==0 %>
              <%= l (DateTime.current+ day.day).to_date, :format =>  '%A' %>
               <br>(heute)
            <% elsif  day==1 %>
              <%= l (DateTime.current+ day.day).to_date, :format =>  '%A' %>
              <br>(morgen)
            <% else %>
              <%= l (DateTime.current+ day.day).to_date, :format =>  '%A' %><br>&nbsp;
            <% end %>
          </div>
      <% end %>
      <div style="height:30px"></div>
      
      <p>		
      Beginn:	<%= select_hour(17, {:field_name => 'appointment_start'}, {:style => "width:50px"}) %>
      &nbsp;&nbsp;
      Ende:	<%= select_hour(19, {:field_name => 'appointment_end'}, {:style => "width:50px"}) %>
      </p>
</div><!-- end appointment_dates -->

      <h3 id="appointment_str"></h3>
      <div div class="alert" style="margin-top:30px;">
      <p style="font-size:15px;">Dieser Termin ist verbindlich. Logge dich bitte kurz vorher ein und 
      freu dich schon jetzt auf das produktive Arbeiten mit deinen Freunden und neuen Leuten.</p>
      </div>


	<div id="fb_request_search" style="display:none">
	    <h3 style="text-align:left"}>Verabrede dich mit deinen Freunden</h3>
			<div id="fb_request_friends_div"></div>
	</div> <!-- fb_request_body -->


</div>

