<span id="urls"
  data-my_work_sessions_url="<%= my_work_sessions_url %>"
  data-appointment_get_token_url="<%= appointment_get_token_url %>"
  data-calendar_new_event_url="<%= calendar_new_event_url %>"
  data-calendar_remove_events_by_time_url="<%= calendar_remove_events_by_time_url %>"
  data-appointment_url="<%= appointment_url %>"
></span>


<!-- modal start-->
<div class="modal hide main-modal" id="main_page_modal">
  <div class="modal-arrow"></div>
  <div id="main_page_modal_when_empty">
    <button type="button" class="close" data-dismiss="modal">×</button>
  </div>

  <div id="main_page_modal_when_filled" style="display:none">
	  <div class="modal-header">
	     <button class="close" data-dismiss="modal">×</button>
	     <h2>Termin für die Verabredung festlegen</h2>
  </div>
	
	
 <div class="modal-body">

      
      <% (0..6).each do |day| %>
         <div 
            <% if day==1 %>
            class="main_modal_day btn btn-primary" 
            <% else %>
            class="main_modal_day btn " 
            <% end %>
           
            data-day="<%=(DateTime.current+ day.day).to_date%>"
            id="main_modal_day<%=day%>">
      
            <% if day==0 %>
              <%= l (DateTime.current+ day.day).to_date, :format =>  '%A' %>
               <br>(heute)
            <% elsif  day==1 %>
              <%= l (DateTime.current+ day.day).to_date, :format =>  '%A' %>
              <br>(morgen)
            <% else %>
              <%= l (DateTime.current+ day.day).to_date, :format =>  '%A' %><br>&nbsp;
            <% end %>
          </div>
      <% end %>
      <div style="height:30px"></div>
      
      <p>		
      Beginn:	<%= select_hour(13, {:field_name => 'main_modal_start'}, {:style => "width:50px"}) %>
      &nbsp;&nbsp;
      Ende:	<%= select_hour(14, {:field_name => 'main_modal_end'}, {:style => "width:50px"}) %>
      </p>
      <h3 id="appointment_str"></h3>
      <div div class="alert" style="margin-top:30px;">
      <p>Dieser Termin ist verbindlich. Logge dich bitte kurz vorher ein und 
      freu dich schon jetzt auf das produktive Arbeiten mit deinen Freunden und neuen Leuten.</p>
      </div>
      </div> <!-- end modal-body -->

	  <div class="modal-footer">
	       <a href="#" id="main_modal_invite" style="display:none" class="btn btn-primary">
		Mit Freunden zu diesem Termin verabreden</a>
	       <a href="#" id="main_modal_delete" style="display:none"class="btn btn-primary">
		Termin löschen</a>
	       <a href="#" id="main_modal_save" style="display:none" class="btn btn-primary" data-dismiss="modal">
		Speichern</a>				


	</div><!-- modal-footer -->
   </div>	
</div>
<!-- modal end-->