<%= content_for :below_nav do %>
	<img src="/assets/frontpage_bigpicture.jpg" style="width:100%;position:relative;
	margin-top:40px;margin-bottom1:+50px">
<% end %>
<div class="row">
<div class="span8" style="margin:0 auto;width=620px;float:none;">
	<div class="well clr_fix">
		<div class="left"><img src="http://graph.facebook.com/<%=@appointment.sender.fb_ui%>/picture"></div>
		<div>
			<h1>Verabredung mit <%=@appointment.sender.name %></h1>
			<p>
			<h2>am 
			<%= I18n.localize(@appointment.start_time.to_date, :format => "%d.%m.%Y") %>	
			 von 
			<%= I18n.localize(@appointment.start_time.to_time.in_time_zone("Berlin"),:format => "%H:%M") %>
			bis
			<%= I18n.localize(@appointment.end_time.to_time.in_time_zone("Berlin"),:format => "%H:%M") %>
			</h2><br><br>
			
			<div class="row">
			<div class="span8 offset2">
				<%= link_to "Ablehnen", appointment_reject_url, :class=>"btn btn-large"%>
				<%= link_to "Annehmen", appointment_accept_without_authentication_url(:token=> @appointment.token), :class=>"btn btn-large btn-success"%>
			</div>
			</div>
		</div>
	</div>
</div>
<img src="/assets/separator-top-940.png" alt="line" style="margin-top:10px;margin-bottom:20px;">
 <!-- left column -->

<div>
<div class="row">
   <div class="span4" >
		<h1 style="margin-bottom:10px;">Worum geht es?</h1>

		<p style="line-height: 25px;">Du wurdest von Lisa zu StartWork eingeladen! StartWork ist eine Plattform für gemeinsames Lernen und Arbeiten.</p>

		<p style="line-height: 25px;">Auf StartWork kannst du mit Lisa und anderen Freunden gemeinsam produktiver werden - und nebenbei noch neue Leute kennenlernen.</p>
   </div><!-- end left column -->




   <div class="span4"> <!-- right column -->
	
		<center>
         <img src="/assets/promotion_video.png" id="video_modal_button">
		</center>
	</div><!-- end right column -->
   </div>
</div><!-- end row -->
<img src="/assets/separator-bottom-940.png" alt="line" style="margin-bottom:20px;">
<h1>Features</h1>
		 <div class="whitebox">
		<%= t(".text_current_user_html") %>
		</div>

<img src="/assets/separator-top-940.png" alt="line" style="margin-top:30px;margin-bottom:20px;">

<div class="span8" style="margin:0 auto;width=620px;float:none;">
	<div class="well clr_fix">
		<div class="left"><img src="http://graph.facebook.com/<%=@appointment.sender.fb_ui%>/picture"></div>
		<div>
			<h1>Verabredung mit <%=@appointment.sender.name %></h1>
			<p>
			<h2>am 
			<%= I18n.localize(@appointment.start_time.to_date, :format => "%d.%m.%Y") %>	
			 von 
			<%= I18n.localize(@appointment.start_time.to_time.in_time_zone("Berlin"),:format => "%H:%M") %>
			bis
			<%= I18n.localize(@appointment.end_time.to_time.in_time_zone("Berlin"),:format => "%H:%M") %>
			</h2><br><br>
			
			<div class="row">
			<div class="span8 offset2">
				<%= link_to "Ablehnen", appointment_reject_url, :class=>"btn btn-large"%>
				<%= link_to "Annehmen", appointment_accept_without_authentication_url(:token=> @appointment.token), :class=>"btn btn-large btn-success"%>
			</div>
			</div>
		</div>
	</div>
</div>
</div>
