<%- content_for(:head) do -%>
  <%= javascript_include_tag "http://connect.facebook.net/en_US/all.js" -%>
<%- end -%>

<%- content_for(:nav_bar) do -%>
  <span></span>
<%- end -%>

<%- content_for(:user_voice) do -%>
  <span></span>
<%- end -%>

<%- content_for(:footer) do -%>
  <span></span>
<%- end -%>

<%- content_for(:background_image) do -%>
  background:url('/assets/paper_bg_plain.jpg');
<%- end -%>

<%= content_for :below_nav do %>
  <img src="/assets/frontpage_biggestpicture3.jpg" style="width:100%;position:relative;display:block;">
<% end %>

<%= render :partial => "static_pages/urls"%> 




<div style="margin:0 auto; width:696px;position:relative;">
  
  <div class="whitebox" id="welcome_box" style="position:absolute;top: -200px;height:500px;width: 100%;padding: 0;opacity:0.8;margin-bottom:50px;"></div>

    <div class="emphasize" id="welcome_content" style="position:absolute;top: -200px;height:500px;padding: 40px;">
   
      <!-- CAROUSEL -->
      <div id="show_and_welcome_carousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner" style="margin-top:10px;overflow:visible;width:614px;">
          <div class="item active" style="vertical-align:middle;width:">
            <p>Die Verabredung wurde akzeptiert und <%=@appointment.user.first_name %> ist informiert!</p>
            <div class="well emphasize">
              <h2 style="margin-bottom:20px;">Deine Verabredung mit <%=@appointment.user.name %></h2>
              <div style="margin-bottom:20px;">
                <div class="left" style="margin:5px 0 0 0;"><img src="http://graph.facebook.com/<%=@appointment.user.fb_ui%>/picture"></div>
                <div style="margin: 0 0 0 70px;">
                    <p>Datum: <%= I18n.localize(@appointment.start_time.to_date, :format => "%d.%m.%Y") %></p>
                    <p>Uhrzeit: <%= I18n.localize(@appointment.start_time.to_time.in_time_zone("Berlin"),:format => "%H:%M") %> Uhr bis <%= I18n.localize(@appointment.end_time.to_time.in_time_zone("Berlin"),:format => "%H:%M") %> Uhr
                    <a href="#" class="btn btn-small btn-edit" style="position: relative;top: 6px;"></a></p>
                 </div>
                 <span class="clr_fix"></span>
                 <br>Trage den Termin am besten gleich in deinen Kalender ein!
              </div>
              <div class="alert alert-info">
                <b>Achtung!</b>
                Termine auf StartWork sind verbindlich! Falls etwas dazwischenkommen sollte, sag bitte frühzeitig ab, dein Gegenüber rechnet fest mit dir!
              </div>
            </div>
            <div style="position:absolute;top:-25px;right:0;">
              <button href="#show_and_welcome_carousel" id="show_and_welcome_save_continue" data-slide="next" class="btn btn-primary btn-large fb_reset_0_-100" >Weiter</button>
            </div>
          </div>

          <div class="item" style="vertical-align:middle;width:">
            <div style="position:absolute;top:-25px;right:0;">
              <%= link_to "Zum Dashboard", root_path, :class => "btn btn-primary btn-large"%>
            </div>

          <% if !@friends.empty?%>

            <p><h2>Wusstest du schon?</h2></p>
            <p>Es sind noch mehr deiner Freunde registriert:</p>
            <div class="well" style="padding:20px;margin:0 auto;">
              <div class="row">
                <% @friends.each do |friend| %>
                  <div class="span1">
                    <img src="http://graph.facebook.com/<%=friend.fb_ui%>/picture"><br>
                    <%= friend.first_name %>
                  </div>
                <% end %>
              </div>
            </div>
            <br><p>Warum holst du sie nicht zu deiner Verabredung dazu?</p>

          <% else %>

            <p><h2>Mehr Freunde - mehr Spass!</h2></p>
            <p>Warum holst du nicht noch ein paar Freunde zu deiner Verabredung dazu? Zusammen fällt es noch leichter zu arbeiten!</p><br>

<!-- SEND APPOINTMENT BY FACEBOOK -->
			<div id="appointment"
			data-appointment_id="<%=@appointment.id%>"
			data-token="<%=@appointment.token%>"
			data-start_time="<%=@appointment.start_time%>"
			data-end_time="<%=@appointment.end_time%>">
			
	
          <h3 id="appointment_str" style="display:none"></h3>			
<!-- SEND APPOINTMENT BY FACEBOOK -->

          </div>

          <% end %>



<div id="fb-root" data-app="<%=@app%>" style="position: absolute;left: 150px;top: 40px;"></div>

        </div>

      </div> <!-- end item -->   

    </div> <!-- end welcome_content -->
  </div> <!-- end welcome_box -->
</div>