
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>Start Work</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
<script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
  <style>
     body {
       padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
     }
   </style>

</head>
 
<body>
	
	<div class="navbar navbar-fixed-top1">
	      <div class="navbar-inner">
	        <div class="container">

	          <a class="brand" href="/">StartWork</a>
	          <div class="nav-collapse">
	            <ul class="nav">
	              <li <%= if_active 'how_it_works' %>><a href="how_it_works">How it works</a></li>
	              <li <%= if_active 'about_us' %>><a href="about_us">About us</a></li>
	              <li <%= if_active 'contact' %>><a href="contact">Contact</a></li>
	            </ul>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div><!--/.navbar -->
	
    <br>

    <div class="container">
	
	<%= yield %>
      <hr>
      <footer>
        <p>&copy; StartWork 2012</p>
      </footer>
    </div> <!-- /container -->   

</body>
</html>


