<!DOCTYPE html>
<html lang="en" style="height:100%">
  <head>
    <meta charset="utf-8">

    <title>StartWork - Die Plattform für gemeinsames Lernen und Arbeiten</title>

     <meta name="Description" content="Werde endlich produktiver! Auf StartWork kannst du dich mit Freunden
      zum gemeinsamen Lernen und Arbeiten verabreden, 
     und dabei neue Leute kennenlernen." />

     <meta name="keywords" content="Startwork, Aufschieberitis, Prokrastination, Prüfungsangst, Prüfungsstress, Klausurphase, Aufschieben" />

     <meta property="og:image" content="http://startwork.in/assets/startwork_quad.jpg" />
     <meta property="og:title" content="StartWork" />
     <meta property="og:type" content="website" />
     <meta property="og:url" content="http://startwork.in" />
     <meta property="og:site_name" content="StartWork" />
     <meta property="fb:admins" content="575709119" />
     
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    <%= yield(:head) %>

    <% if content_for?(:user_voice) then %>
      <%= yield(:user_voice) %>
    <% else %>  
      <%= render :partial => "layouts/user_voice" %>
    <% end %>

  </head>

  <body  style="height:100%;min-width: 940px;
    <% if params["bg_image"] then %>
      <%= "background-image:url('/assets/#{params['bg_image']}')" %>
    <% elsif content_for?(:background_image) then %>
      <%= yield(:background_image) %>
    <% else %>
      background-image:url('/assets/grain.jpg')
    <%end%>" 

data-env="<%= Rails.env %>"
data-controller="<%= controller_name %>"
data-action="<%= action_name %>"
data-fb-ui="<%= current_user.fb_ui if current_user %>"
data-current-user-name="<%= current_user.name if current_user %>"
data-user-registered="<%= if current_user and current_user.registered then "true" else "false" end %>">
 <!-- end of body tag -->

<%= render :partial => "static_pages/urls"%> 

    <noscript>
      <div class="alert">
        This site requires JavaScript. Please enable it to continue.
        Diese Seite benötigt JavaScript. Bitte aktivere es um fortzufahren.
      </div>
    </noscript>  

    <% if content_for?(:nav_bar) then %>
      <%= yield(:nav_bar) %>
    <% else %>	
      <%= render :partial => "layouts/nav" %>
    <% end %>

    <%= yield(:below_nav) %>	

    <div id="main_container" class="container"  style="margin-top:72px;">
    	
    	<% if content_for?(:first_in_container) then %>
    	   <%= yield(:first_in_container) %>
    	<% end %>
    	
    	<div id="notice" style="position:relative;top:0;">
      	<% if notice %>
      	  <div  class="alert alert-success"><%= notice %></div>
      	<% end %>
      	<% if alert %>	
       	  <div class="alert alert-error"> <%= alert %></div>
        <% end %>
      </div>

    	<%= yield %>

      <% if content_for?(:footer) then %>
        <%= yield(:footer) %>
      <% else %>  
        <hr>
        <footer>
          <p>&copy; StartWork 2012 - <%= link_to "Impressum", impressum_path, :rel => "nofollow"%></p>
        </footer>
      <% end %>

    </div>

  </body>
</html>

