
<!DOCTYPE html>
<html lang="en" style="height:100%">
  <head>
    <meta charset="utf-8">

  <title>StartWork</title>

<!--  Google Analytics -->
<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-29880523-1']);
	_gaq.push(['_setCampSourceKey', 'utm_source']);
	_gaq.push(['_setCampMediumKey', 'utm_medium']);
	_gaq.push(['_setCampContentKey', 'utm_keyword']);
	_gaq.push(['_setCampTermKey', 'utm_keyword']);
	_gaq.push(['_setCampNameKey', 'utm_campaign']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	
</script>
<!-- end  Google Analytics -->






<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->



  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <%= yield(:head) %>



<!--  UserVoice -->
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/gjIDGAhQ0Eu106FjusqjA.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
<!--  end UserVoice -->

</head>
 
<body  style="height:100%">
	
	<div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">

	          <a class="brand" href="/">StartWork<span style="font-size:70%"> beta</span></a>
	          <div class="nav-collapse">
	            <ul class="nav">
	              <li <%= if_active 'how_it_works' %>><%= link_to t(".how_it_works"), how_it_works_path %></li>
	              <li <%= if_active 'effect' %>><%= link_to t(".effect"), effect_path %></li>
	              <li <%= if_active 'blog' %>><%=link_to t(".blog"), blog_path %></li>
	              <li <%= if_active 'about_us' %>><%=link_to t(".about_us"), about_us_path %></li>
				</ul> <!-- /.nav -->
				
					<% if user_signed_in? %>
					<ul class="nav pull-right">
				 <li id="fat-menu" class="dropdown">
				        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %>
					<b class="caret"></b></a>
				        <ul class="dropdown-menu">
				          <li><%= link_to t(".camera_test"), camera_path %></li>
				         <!-- <li><%= link_to t(".edit"), edit_user_registration_path %></li>-->
				          <li class="divider"></li>
				          <li><%= link_to t(".logout"), destroy_user_session_path, :method => :delete %></li>
				        </ul>
				      </li>					
				</ul>
				<% else %>
			<!--	<p class="navbar-text pull-right"><%= link_to t(".sign_in"), new_user_session_path%></p>-->
				<% end %>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div><!--/.navbar -->
	
    <br>


	
	
<br><br>
    <div class="container">
	<% if notice %>
	<div class="alert alert-success"><%= notice %></div>
	<% end %>
	<% if alert %>	
 	<div class="alert alert-error"> <%= alert %></div>
     <% end %>


	
	<%= yield %>
      <hr>
      <footer>
        <p>&copy; StartWork 2012<br><%= link_to "Impressum", impressum_path%></p>

      </footer>

    </div> <!-- /container -->   

</body>
</html>



