<!DOCTYPE html>
<html lang="en" style="height:100%">
  <head>
    <meta charset="utf-8">

  <title>StartWork - Die Plattform für gemeinsames Lernen und Arbeiten</title>

   <meta name="Description" content="Mit StartWork kannst du mit Freunden
    gemeinsam lernen und arbeiten, 
   und dabei neue Leute kennenlernen. Eine Studie hat gezeigt, 
    dass es die Prokrastination ('Aufschieberitis') um 73% senkt.">
   
  <%= render :partial => "layouts/google_analytics" %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <%= yield(:head) %>

  <%= render :partial => "layouts/user_voice" %>

</head>

<body  style="height:100%;min-width: 940px;
<% if params["bg_image"] then %>
     <%= "background-image:url('/assets/#{params['bg_image']}')" %>
<% elsif content_for?(:background_image) then %>
<%= yield(:background_image) %>
<% else %>
background-image:url('/assets/grain.jpg')
<%end%> 
"> <!-- end of body tag -->

	
<%= render :partial => "layouts/nav" %>

<%= yield(:below_nav) %>	
  
	
<br><br><br>

<div id="main_container" class="container"  style="min-height:100%;">
	
	<% if content_for?(:first_in_container) then %>
	   <%= yield(:first_in_container) %>
	<% end %>
	
	<div id="notice" style="position:relative">

	<% if notice %>
	<div  class="alert alert-success"><%= notice %></div>
	<% end %>
	<% if alert %>	
 	<div class="alert alert-error"> <%= alert %></div>
     <% end %>
    </div>

	<%= yield %>


      <hr>
      <footer>
        <p>&copy; StartWork 2012 - <%= link_to "Impressum", impressum_path%></p>

      </footer>

    </div> <!-- /container -->   

</body>
</html>

