
<!DOCTYPE html>
<html lang="en" style="height:100%">
  <head>
    <meta charset="utf-8">

  <title>StartWork, Plattform für gemeinsames Lernen und Arbeiten</title>

<meta name="Description" content="Mit StartWork kannst du mit Freunden gemeinsam lernen und arbeiten, 
und dabei neue Leute kennenlernen. Eine Studie hat gezeigt, dass es die Prokrastination ('Aufschieberitis') um 73% senkt.">

<!--  Google Analytics -->
<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-29880523-1']);
	_gaq.push(['_setCampSourceKey', 'utm_source']);
	_gaq.push(['_setCampMediumKey', 'utm_medium']);
	_gaq.push(['_setCampContentKey', 'utm_keyword']);
	_gaq.push(['_setCampTermKey', 'utm_keyword']);
	_gaq.push(['_setCampNameKey', 'utm_campaign']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	
</script>
<!-- end  Google Analytics -->






<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->



  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <%= yield(:head) %>



<!--  UserVoice -->
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/gjIDGAhQ0Eu106FjusqjA.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
<!--  end UserVoice -->

</head>
 
<body  style="height:100%">
<%= render :partial => "layouts/nav" %>
	<img src="/assets/frontpage_bigpicture.jpg" style="width:100%;position:relative;
	margin-top:40px;margin-bottom1:+50px">

	<div class='container'>	
  <div class="hero-unit">
	<%= yield %>
	</div><!-- end hero unit -->
      <hr>
      <footer>
        <p>&copy; StartWork 2012<br><%= link_to "Impressum", impressum_path%></p>

      </footer>

</div><!-- end container -->

</body>
</html>



