
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

  <title>StartWork</title>


  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %> 
  <%= javascript_include_tag "application" %>
  <%= yield(:head) %>

<%= render :partial => "layouts/user_voice" %>


</head>
 
<body>
	
	<%= yield %>

</body>
</html>



